{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='about_us.js') }}"></script>
{% endblock head %}

{% block content %}
<body style="background-color: black;color: white;" onLoad="if(window.scroll)onWard()">
<br><br><br><br><br>
<h1 style="text-align:center;">Cast</h1>
<br><br>
<h1 style="text-align:center;">Design Team</h1>
<div class="row" style="align-content: center;">
    <div class="column" style="text-align:right;padding:auto;">
      <h2>Programming</h2>
    </div>
    <div class="column" style="text-align:left;padding:auto;">
      <h3>Kevin Gasca</h3>
    </div>
</div>
<div class="row" style="align-content: center;">
    <div class="column" style="text-align:right;padding:auto;">
      <h2>User Schema</h2>
    </div>
    <div class="column" style="text-align:left;padding:auto;">
      <h3>Kevin Gasca</h3>
    </div>
</div>
<div class="row" style="align-content: center;">
    <div class="column" style="text-align:right;padding:auto;">
      <h2>Movie Schema</h2>
    </div>
    <div class="column" style="text-align:left;padding:auto;">
      <h3>Kevin Gasca</h3>
    </div>
</div>
<div class="row" style="align-content: center;">
    <div class="column" style="text-align:right;padding:auto;">
      <h2>Art</h2>
    </div>
    <div class="column" style="text-align:left;padding:auto;">
      <h3>Kenneth Gasca</h3>
    </div>
</div>
<br><br><br>
<h1 style="text-align:center;">Support Team</h1>
<div class="row" style="align-content: center;">
    <div class="column" style="text-align:right;padding:auto;">
      <h2>AWS Support</h2>
    </div>
    <div class="column" style="text-align:left;padding:auto;">
      <h3>Amazon</h3>
    </div>
</div>
<div class="row" style="align-content: center;">
    <div class="column" style="text-align:right;padding:auto;">
      <h2>Docker Support</h2>
    </div>
    <div class="column" style="text-align:left;padding:auto;">
      <h3>DockerHub</h3>
    </div>
</div>
<div class="row" style="align-content: center;">
    <div class="column" style="text-align:right;padding:auto;">
      <h2>Moral Support</h2>
    </div>
    <div class="column" style="text-align:left;padding:auto;">
      <h3>Chelsea Gasca</h3><h6>(My Beautiful Wife)</h6>
    </div>
</div>
<!-- $$$$ -->
<div class="row" style="align-content: center;">
    <div class="column" style="text-align:right;padding:auto;">
      <h2>Child Support</h2>
    </div>
    <div class="column" style="text-align:left;padding:auto;">
      <h3>TBD</h3>
    </div>
</div>
<br><br><br>
<h1 style="text-align:center;">Production Babies</h1>
<div class="row" style="align-content: center;">
    <div class="column" style="text-align:right;padding:auto;">
      <h2>Supervising Big Brother</h2>
    </div>
    <div class="column" style="text-align:left;padding:auto;">
      <h3>Liam Gasca</h3>
    </div>
</div>
<div class="row" style="align-content: center;">
    <div class="column" style="text-align:right;padding:auto;">
      <h2>Daughter in Charge</h2>
    </div>
    <div class="column" style="text-align:left;padding:auto;">
      <h3>Aurora Gasca</h3>
    </div>
</div>
<br><br><br><br><br>
</body>
{% endblock content %}